.price-section {
    margin: 64px 0 71px 0;
    .section-title {
        margin-bottom: 48px;
    }
}

.price-list {
    display: flex;
    justify-content: space-around;
    @media(max-width: 652px) {
        flex-wrap: wrap;
    }
    &__item {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        flex-basis: 156px;
        margin-right: 56px;
        margin-bottom: 15px;
        &:not(:last-child) {
            &::after {
                position: absolute;
                content: "";
                bottom: 0;
                right: -45px;
                width: 2px;
                height: 199px;
                background-color: var(--description-color, grey);
                opacity: 0.2;
                @media(max-width: 768px) {
                    height: 224px;
                }
                @media(max-width: 652px) {
                    content: none;
                }
            }
        }
    }
    &__title {
        margin-bottom: 8px;
    }
    &__text {
        font-family: "Helvetica";
        font-size: var(--small-font);
        padding: 6px 18px 24px;
        text-align: center;
        @media(max-width: 768px) {
            font-size: calc(var(--small-font) * 1.3);
        }
    }
    &__link {
        width: 81px;
        height: 28px;
        padding: 10px 30px;
        margin-top: auto;
    }
}