.video-section {
    padding-top: 87px;
    padding-bottom: 116px;
    background-color: #62497c;
    background-color: var(--link-hover-background);
    color: #fefefe;
    color: var(--launch-case-color);
    .section-title {
        margin-bottom: 40px;
        color:  #fefefe;
        color: var(--launch-case-color);
    }
}