.container {
    max-width: 718px;
    margin: 0 auto;
    padding: 0 10px;
}

* {
    box-sizing: border-box;
  }
  
  body, h1, h2, h3, h4, h5, h6, p {
    margin: 0;
  }
  
body {
    font-family: "Montserrat", "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 400;
    font-size: 13px;
    line-height: 23.58px;
}

%borderless-btn {
    padding: 0;
    border: none;
}

b {
    display: block;
}

button {
    cursor: pointer;
}

@mixin ul-style {
    padding: 0;
    margin: 0;
    li {
      list-style: none;
    }
    a {
      text-decoration: none;
    }
}

ul {
    @include ul-style();
}

.visually-hidden {
    width: 1px;
    height: 1px;
    border: 0;
    padding: 0;

    white-space: nowrap;

    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
  