@font-face {
    font-family: "Montserrat";
    src: url("../fonts/montserrat-regular-webfont.woff") format("woff"),
        url("../fonts/montserrat-regular-webfont.woff2") format("woff2");
}

@font-face {
    font-family: "Montserrat Bold";
    src: url("../fonts/montserrat-bold-webfont.woff") format("woff"),
        url("../fonts/montserrat-bold-webfont.woff2") format("woff2");
}

@font-face {
    font-family: "Roboto";
    src: url("../fonts/roboto-v19-latin-regular.woff") format("woff"),
        url("../fonts/roboto-v19-latin-regular.woff2") format("woff2");
}

@font-face {
    font-family: "Helvetica";
    src: url("../fonts/helveticaneuecyr-light-webfont.woff") format("woff"),
        url("../fonts/helveticaneuecyr-light-webfont.woff2") format("woff2");
}