:root {
    --section-title-color:   #040405;
    --section-title-font-size: 2.75rem;
    --title-font-size:         0.94rem;
    --header-background:     #47566d;
    --header-text-color:     #ffffff;
    --header-link-hover:     #ffe26d;
    --header-link-focus:     #ffa500;
    --link-color:            #323232;
    --link-hover-color:      #ffffff;
    --link-background-color: #ffe26d;
    --link-hover-background: #62497c;
    --link-focus-background: #4f3c62;
    --description-color:     #9e9e9e;
    --project-odd-color:     #efefef;
    --project-even-color:    #e4e4e4;
    --launch-case-color:     #fefefe;
    --small-font:              0.625rem;
    /*--bg-header: url*/
}