:root {
  --section-title-color: #040405;
  --section-title-font-size: 2.75rem;
  --title-font-size: 0.94rem;
  --header-background: #47566d;
  --header-text-color: #ffffff;
  --header-link-hover: #ffe26d;
  --header-link-focus: #ffa500;
  --link-color: #323232;
  --link-hover-color: #ffffff;
  --link-background-color: #ffe26d;
  --link-hover-background: #62497c;
  --link-focus-background: #4f3c62;
  --description-color: #9e9e9e;
  --project-odd-color: #efefef;
  --project-even-color: #e4e4e4;
  --launch-case-color: #fefefe;
  --small-font: 0.625rem;
  /*--bg-header: url*/ }

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/montserrat-regular-webfont.woff") format("woff"), url("../fonts/montserrat-regular-webfont.woff2") format("woff2"); }
@font-face {
  font-family: "Montserrat Bold";
  src: url("../fonts/montserrat-bold-webfont.woff") format("woff"), url("../fonts/montserrat-bold-webfont.woff2") format("woff2"); }
@font-face {
  font-family: "Roboto";
  src: url("../fonts/roboto-v19-latin-regular.woff") format("woff"), url("../fonts/roboto-v19-latin-regular.woff2") format("woff2"); }
@font-face {
  font-family: "Helvetica";
  src: url("../fonts/helveticaneuecyr-light-webfont.woff") format("woff"), url("../fonts/helveticaneuecyr-light-webfont.woff2") format("woff2"); }
.container {
  max-width: 718px;
  margin: 0 auto;
  padding: 0 10px; }

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

body, h1, h2, h3, h4, h5, h6, p {
  margin: 0; }

body {
  font-family: "Montserrat", "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 400;
  font-size: 13px;
  line-height: 23.58px; }

.main-header .button-wrap .slider-button {
  padding: 0;
  border: none; }

b {
  display: block; }

button {
  cursor: pointer; }

ul {
  padding: 0;
  margin: 0; }
  ul li {
    list-style: none; }
  ul a {
    text-decoration: none; }

.visually-hidden {
  width: 1px;
  height: 1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden; }

.section-title {
  font-family: "Montserrat Bold";
  font-size: 2.75rem;
  font-size: var(--section-title-font-size);
  line-height: 40.52px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #000000;
  color: var(--section-title-color); }

.button,
.link {
  font-family: "Montserrat bold";
  font-size: 0.625rem;
  font-size: var(--small-font);
  line-height: 6.9px;
  color: #000000;
  color: var(--link-color);
  background-color: #ffe26d;
  background-color: var(--link-background-color);
  text-transform: uppercase;
  border-radius: 3px; }

.link {
  display: block;
  text-decoration: none; }
  .link:hover {
    color: #ffffff;
    color: var(--link-hover-color);
    background-color: #62497c;
    background-color: var(--link-hover-background); }
  .link:focus, .link:active {
    background-color: #4f3c62;
    background-color: var(--link-focus-background);
    color: #ffffff;
    color: var(--link-hover-color); }
  .link span {
    vertical-align: middle; }

.title {
  font-size: 0.94rem;
  font-size: var(--title-font-size);
  text-transform: uppercase; }

.text {
  font-family: "Helvetica"; }
  .text--grey {
    color: #9e9e9e;
    color: var(--description-color); }

.description {
  color: #9e9e9e;
  color: var(--description-color); }

.learn-more {
  display: block;
  width: 125px;
  height: 43px;
  padding: 17px 27px; }

.main-header {
  min-height: 693px;
  background-image: url("../img/Img-header1.jpg");
  background-color: #47566d;
  background-color: var(--header-background);
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 85px; }
  .main-header .container {
    padding-top: 41px;
    padding-bottom: 38px; }
  .main-header .button-wrap .slider-button {
    width: 8px;
    height: 8px;
    background-color: #ffffff;
    background-color: var(--header-text-color);
    border-radius: 50%;
    opacity: 0.5; }
    .main-header .button-wrap .slider-button:not(:last-child) {
      margin-right: 7px; }
    .main-header .button-wrap .slider-button:focus, .main-header .button-wrap .slider-button:active {
      opacity: 1; }

.navigation-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 127px; }
  .navigation-wrap__logo, .navigation-wrap__link {
    color: #ffffff;
    color: var(--header-text-color); }
  .navigation-wrap__logo {
    font-size: 1.750rem;
    text-transform: uppercase; }
  .navigation-wrap__link {
    font-family: "Montserrat bold";
    font-size: 0.625rem;
    font-size: var(--small-font);
    line-height: 6.9px;
    text-transform: uppercase;
    border-radius: 3px;
    text-decoration: none; }
    .navigation-wrap__link:not(:last-child) {
      margin-right: 36px; }
    .navigation-wrap__link:hover, .navigation-wrap__link:active {
      color: #ffe26d;
      color: var(--header-link-hover); }
    .navigation-wrap__link:focus {
      color: #ffa500;
      color: var(--header-link-focus); }

.header-wrap {
  max-width: 494px;
  margin-bottom: 214px; }
  .header-wrap__slogan, .header-wrap__text {
    color: #ffffff;
    color: var(--header-text-color);
    margin-bottom: 33px; }
    .header-wrap__slogan--roboto, .header-wrap__text--roboto {
      font-family: "Roboto"; }
  .header-wrap__slogan {
    font-size: 2.57rem;
    line-height: 52px; }
  .header-wrap__text {
    font-size: 1.25rem;
    opacity: 0.8; }

.features-section {
  padding-bottom: 38px;
  margin-bottom: 56px; }
  .features-section__wrap {
    padding: 55px 240px 10px 0;
    background-image: url(../img/Umbrella_Icon.svg);
    background-repeat: no-repeat;
    background-position: 100% 100%;
    margin-bottom: 64px; }
  .features-section__text {
    font-size: 1.82rem;
    line-height: 36px;
    color: #040405;
    color: var(--section-title-color);
    opacity: 0.8; }
    .features-section__text--roboto {
      font-family: "Roboto"; }

.features-list {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
  .features-list::after {
    position: absolute;
    content: "";
    width: 695px;
    height: 2px;
    bottom: -40px;
    right: 0;
    background-color: #040405;
    background-color: var(--section-title-color);
    opacity: 0.1; }
  .features-list__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    max-width: 156px;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    padding-bottom: 20px; }
    .features-list__item:not(:last-child) {
      margin-right: 111px; }
  .features-list__img {
    margin-bottom: 33px; }
  .features-list__title {
    color: #62497c;
    color: var(--link-hover-background);
    margin-bottom: 14px; }
  .features-list__text {
    text-align: center;
    margin-bottom: 33px; }

.projects-section .section-title {
  margin-bottom: 47px; }

.projects-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
  @media (min-width: 1400px) {
    .projects-list {
      -webkit-box-pack: start;
          -ms-flex-pack: start;
              justify-content: flex-start; } }
  .projects-list__item {
    -ms-flex-preferred-size: 350px;
        flex-basis: 350px;
    margin-bottom: 20px; }
    @media (min-width: 1630px) {
      .projects-list__item {
        -ms-flex-preferred-size: 406px;
            flex-basis: 406px; } }
    .projects-list__item:hover .projects-list__wrap {
      background-color: #ffe26d;
      background-color: var(--link-background-color); }
    .projects-list__item:hover .link--white {
      background-color: #62497c;
      background-color: var(--link-hover-background);
      color: #ffffff;
      color: var(--link-hover-color); }
  .projects-list__wrap {
    padding: 46px 35px 47px 44px;
    cursor: pointer; }
    .projects-list__wrap--grey {
      background-color: #efefef;
      background-color: var(--project-odd-color); }
    .projects-list__wrap--darkgrey {
      background-color: #e4e4e4;
      background-color: var(--project-even-color); }
  .projects-list__img {
    display: block;
    width: 100%; }
  .projects-list__text {
    margin-bottom: 15px; }
  .projects-list__link {
    width: 162px;
    height: 43px;
    padding: 16px 24px;
    background-color: #fefefe;
    background-color: var(--launch-case-color); }

.price-section {
  margin: 64px 0 71px 0; }
  .price-section .section-title {
    margin-bottom: 48px; }

.price-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around; }
  @media (max-width: 652px) {
    .price-list {
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; } }
  .price-list__item {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-preferred-size: 156px;
        flex-basis: 156px;
    margin-right: 56px;
    margin-bottom: 15px; }
    .price-list__item:not(:last-child)::after {
      position: absolute;
      content: "";
      bottom: 0;
      right: -45px;
      width: 2px;
      height: 199px;
      background-color: #9e9e9e;
      background-color: var(--description-color);
      opacity: 0.2; }
      @media (max-width: 768px) {
        .price-list__item:not(:last-child)::after {
          height: 224px; } }
      @media (max-width: 652px) {
        .price-list__item:not(:last-child)::after {
          content: none; } }
  .price-list__title {
    margin-bottom: 8px; }
  .price-list__text {
    font-family: "Helvetica";
    font-size: 0.625rem;
    font-size: var(--small-font);
    padding: 6px 18px 24px;
    text-align: center; }
    @media (max-width: 768px) {
      .price-list__text {
        font-size: calc(0.625rem * 1.3);
        font-size: calc(var(--small-font) * 1.3); } }
  .price-list__link {
    width: 81px;
    height: 28px;
    padding: 10px 30px;
    margin-top: auto; }

.video-section {
  padding-top: 87px;
  padding-bottom: 116px;
  background-color: #62497c;
  background-color: var(--link-hover-background);
  color: #fefefe;
  color: var(--launch-case-color); }
  .video-section .section-title {
    margin-bottom: 40px;
    color: #fefefe;
    color: var(--launch-case-color); }

.team-section {
  padding: 76px 0 80px 0; }
  .team-section .container {
    max-width: 783px; }
  .team-section .section-title {
    margin-bottom: 44px; }
  .team-section__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0 -44px;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); }
  .team-section__item {
    text-align: center;
    margin: 0 44px 64px 44px; }
